<div class="content">
	<div class="title">
		<h1 id="logo">Google</h1>
	</div>

	<div class="content-box">
		<form action="#" method="POST">
			<ul>
				<li>
					<div id="border-box">
							<input id="search-box" type="text">
							<p id="voice-search">Voice</p>
					</div>
				</li>
				<li class="button">
					<input class="center-buttons" id='search' type="submit" value="Google Search">
					<input class="center-buttons" type="submit" value="I'm Feeling Lucky">
				</li>
			</ul>
		</form>
	</div>
</div>